.waves {
    background-image: url(../../../assets/CompanyApproch/waves.png);
    background-repeat: no-repeat;
    background-position: right;
}

.text-bg {
    background-image: url(../../../assets/CompanyApproch/text-bg.jpg);
    font-weight: bolder;
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    text-align: center;
}

@media screen and (max-width: 768px){
    
}