.bgi{
    background-image: url(../../assets/images/contact.png); 
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
    width: 100%;
} 
.contact-bg{
    background-image: url(../../assets/images/contact-bg-two.png); 
    background-size: cover; 
    background-repeat: no-repeat;
}