$background-size: 75vh;

.background-animated {
  // width: 20%;
  height: $background-size;

  position: absolute;
  background-color: #4277a3;
  background-image: url('https://i.ibb.co/zfMw4R3/road02-350-800-px.png');
  background-size: cover;
  animation: infiniteScrollBg 8s linear infinite;
}

@keyframes infiniteScrollBg {
  0% {
    background-position: 50% 0;
  }
  100%{
    background-position: 50% ($background-size * 2);
  }
}

.text-design{ 
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
}