$background-size: 95vh;

.background-animated {
  // width: 20%;
  height: $background-size;

  position: absolute;
  background-color: #4277a3;
  background-image: url('../../assets/images/road.png');
  background-size: cover;
  animation: infiniteScrollBg 8s linear infinite;
}

@keyframes infiniteScrollBg {
  0% {
    background-position: 50% 0;
  }
  100%{
    background-position: 50% ($background-size * 2);
  }
}

.text-design{ 
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
} 

@keyframes custom-bounce {
	0% {
    transform: translateY(0);
}

100% {
    transform: translateY(-20px);
}
}

.img-bounce {
  animation:custom-bounce 2s cubic-bezier(0.55, 0.085, 0.68, 0.53) infinite alternate-reverse both;
  // animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55); /* Custom cubic-bezier timing function */

}